@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

body{
    background-image: url(img/back.jpg);
    font-size: 16px;
    font-weight: normal;  
    font-family: 'Edu TAS Beginner', cursive;
    display: flex;
    justify-content: start;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 98vh;
  width: 10%;
}

.item {
  border-right: 4px solid black;
  border-left:  4px solid black;
  height:100%;
  width:100%;
  text-align: center;
}

.modul{
  display: flex;
  border: 3px solid red;
  width: auto;
  height: min-content;
  justify-content: center;
}
.homework {
  width: 40%;
  height: 30%;
  margin-top: 5%;
  border-top:  4px solid black;
  border-bottom:  4px solid black;
}

.notification{
  width: 40%;
  height: 30%;
  border-bottom:  4px solid black;
}
.video {
  width: 40%;
  height: 30%;
  border-bottom:  4px solid black;
}

.audio{
  width: 40%;
  height: 30%;
  border-bottom:  4px solid black;
}

.reading {
  width: 40%;
  height: 30%;
  border-bottom:  4px solid black;
}

.vocabulary{
    width: 40%;
    height: 30%;
    border-bottom:  4px solid black;
}

.grammar {
  width: 40%;
  height: 30%;
  border-bottom:  4px solid black;
}

.info{
  border: 5px solid red ;
}
.image{
  width: 100%;
  height: 100%;
}

.main-window{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  align-items: center;
}

.main-list{
  display: flex;
justify-content: center;
border: 4px solid black;
width: 150ch;
height: max-content;
}

.main-list td {
  display: flex;
  border: 3px black solid;
}