@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

body{
    background: url(img/back.jpg);
    font-size: 16px;
    margin-left: 10%;
    font-weight: normal;  
    font-family: 'Edu TAS Beginner', cursive;
}

.avatar {
    width: 500px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.list-information{
    border: black 4px solid;
    border-radius: 28px;
}

.info-text {
    border: black 4px solid;
    border-radius: 28px;  
    margin-top: 10%;
    transform: translateX(150%);
    transition: 1s;
}

.info {
    position: relative;
}

.info:hover .info-text {
    transform: translateX(0);
}

.name{
    text-align: right;
    right: 0;
}
.list{
    text-align: center; 
    display: flex;
    font-size: 20px;
    padding: 0 10px;
    height: 20vh;
    justify-content: space-between;
}
.student{
    border: 8px solid #17b372;
    padding: 0 5px;
    border-radius: 5%;
    -moz-box-shadow: 0px 0px 14px #12c2c4; 
    -webkit-box-shadow: 0px 0px 14px #12c2c4; 
    box-shadow: 0px 0px 14px #12c2c4;
    font-size: 30px;
    height: max-content;
    background-image: url(img/student-background.png);
}
.teacher{
    border: 8px solid #17b372;
    padding: 0 5px;
    border-radius: 5%;
    -moz-box-shadow: 0px 0px 14px #12c2c4; 
    -webkit-box-shadow: 0px 0px 14px #12c2c4; 
    box-shadow: 0px 0px 14px #12c2c4;
    height: max-content;
    background-image: url(img/student-background.png);
}
.engMom{
    border: 8px solid #17b372;
    padding: 0 5px;
    border-radius: 5%;
    -moz-box-shadow: 0px 0px 14px #12c2c4; 
    -webkit-box-shadow: 0px 0px 14px #12c2c4; 
    box-shadow: 0px 0px 14px #12c2c4;
    height: max-content;
    background-image: url(img/student-background.png);
}
.box {
    width: 90%;
}
.image{
    width: 50%;
    height: 50%;
}

.hiThere {
    text-align: center;
}

.position{
    border: black solid 4px;
    margin-left: 90%;
    border-radius: 28px; 
}
.info{
    font-size: 20px;
    margin-top: 10%;
}

.turn {
    font-size: 15px;
    border: black 4px solid;
    border-radius: 28px;  
    margin-top: 10%;
}